@use 'mixins' as *;
@use 'variables' as *;

.section-break {
  padding-top: 9.6rem;
  overflow: hidden;
  &--kanji--box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    white-space: nowrap;
    animation: infinityScrollKanjiOne 33s linear infinite;

    &__kanji {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10rem;
      font-family: 'Noto Sans JP', sans-serif;
      // display: inline-block;
      font-size: 8rem;
      color: var(--color-text);
      opacity: 0.1;
      margin: 0 5rem;

      @include media-desktop {
        font-size: 10rem;
      }
    }
  }
}

@keyframes infinityScrollKanjiOne {
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
