@use "mixins" as *;
@use "variables" as *;

.footer-grid {
  display: grid;
  padding: 1.2rem 0;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  border-top: 1px solid var(--color-text);
  border-bottom: 1px solid var(--color-text);

  &--links-box {
    ul {
      display: flex;
      align-items: center;
      justify-items: center;
      gap: 1rem;

      li a {
        font-size: 1.3rem;
        color: var(--color-text);
      }
    }
  }

  &--img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &--img {
      width: 70%;
      height: auto;
    }

    &--para--box {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      p {
        color: var(--color-text);
        font-size: 1.3rem;
      }
    }
  }

  &--btn-box {
    a {
      font-size: 1.3rem;
      color: var(--color-text);
    }

    &--btn {
      margin-top: 2rem;
      padding: 1.2rem 2.4rem;
      background-color: var(--color-buttons);
      color: var(--color-background);
      border: none;
      border-top-right-radius: 0;
      border-top-left-radius: 2.5rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 2.5rem;
      transition: all 0.3s ease-in-out;
    }

    &--btn:link,
    &--btn:visited {
      background-color: var(--color-buttons);
      color: var(--color-background);
    }

    &--btn:hover,
    &--btn:active {
      border-radius: 2.5rem;
    }
  }
}

.section-footer {
  margin: 15rem 0;
}
