@use 'mixins' as *;
@use 'variables' as *;

.header {
  height: 100vh;
}
.hero-section {
  &__text-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &--heading__box {
      margin-bottom: 5rem;
      &--heading-primary {
        @include headerStyle;
        position: relative;
        display: flex;
        flex-direction: column;

        &--span-two {
          position: absolute;
          width: 100%;
          top: 5rem;
          left: 30%;
          color: var(--color-buttons);

          @include media-tablet-small {
            left: 0%;
          }
        }
      }
    }
    &--para {
      margin-top: 3rem;
      width: 70%;
      font-size: font-size(font-size-small);
      color: var(--color-text);
      text-align: center;
    }

    &--btn {
      margin-top: 2rem;
      padding: 1.2rem 2.4rem;
      background-color: var(--color-buttons);
      color: var(--color-background);
      font-size: font-size(font-size-small);
      border: none;
      border-top-right-radius: 0;
      border-top-left-radius: 2.5rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 2.5rem;
      transition: all 0.3s ease-in-out;
    }

    &--btn:link,
    &--btn:visited {
      background-color: var(--color-buttons);
      color: var(--color-background);
    }

    &--btn:hover,
    &--btn:active {
      border-radius: 2.5rem;
    }

    &--img {
      width: 40%;
      height: auto;
      z-index: -2;

      @include media-medium {
        width: 50%;
      }

      @include media-bigger-small {
        width: 100%;
      }
    }
  }
}

.hero-span-img-one,
.hero-span-img-two {
  position: absolute;
  width: 50%;
  height: 50%;
  z-index: -1;
  opacity: 0.1;
}

.hero-span-img-one {
  top: 0;
  right: 0;
}

.hero-span-img-two {
  left: 0;
  top: 0;
  transform: rotateY(180deg);
}
