@use 'mixins' as *;
@use 'variables' as *;

.header-secondary--box {
  position: relative;
  margin-bottom: 4.8rem;
  &__header-secondary {
    @include headerSecondary;
    z-index: 1;
  }

  &--span {
    position: absolute;
    top: -1rem;
    left: 0;
    font-size: 1.8rem;
    font-family: 'Julee', cursive;
    color: var(--color-buttons);
  }

  &--img {
    position: absolute;
    top: -25%;
    left: -10%;
    z-index: -1;
    width: 20%;
    height: auto;
    opacity: 0.1;
  }
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.section-shop {
  padding-top: 9.6rem;

  &__items--box__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    margin-top: 3.2rem;

    @include media-medium-small-extra {
      flex-direction: column;
    }

    &--box {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      border: 1px solid var(--color-buttons);
      padding: 2.4rem;
      border-top-left-radius: 2.5rem;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 2.5rem;
      position: relative;

      @include media-medium-big {
        padding: 1.2rem;
      }

      @include media-medium-small-extra {
        width: 70%;
        padding: 1.2rem 2.4rem;
      }

      &__name--box {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        &--heading {
          font-size: font-size(font-size-regular);
          color: var(--color-text);
          font-weight: font-weight(font-weight-light);

          @include media-desktop {
            font-size: 3.6rem;
          }

          @include media-tablet {
            font-size: font-size(font-size-small);
          }
        }

        &--para {
          display: flex;
          align-items: center;
          justify-self: center;
          position: absolute;
          top: 0;
          right: 0;
          background-color: var(--color-buttons);
          height: 6rem;
          width: 6rem;
          padding: 1rem;
          border-radius: 50%;
          text-align: center;
          color: var(--color-background);
          font-size: 1.1rem;
          font-weight: font-weight(font-weight-bold);
        }
      }

      &--img {
        width: 100%;
        height: auto;
        border-top-left-radius: 2.5rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 2.5rem;
      }

      &--btn {
        margin-top: 1rem;
        text-align: center;
        padding: 1.2rem 2.4rem;
        background-color: var(--color-buttons);
        color: var(--color-background);
        font-size: font-size(font-size-small);
        font-weight: font-weight(font-weight-light);
        border: none;
        border-top-right-radius: 0;
        border-top-left-radius: 2.5rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 2.5rem;
        transition: all 0.3s ease-in-out;

        @include media-medium-small {
          padding: 1.2rem;
        }
      }

      &--btn:link,
      &--btn:visited {
        background-color: var(--color-buttons);
        color: var(--color-background);
      }

      &--btn:hover,
      &--btn:active {
        border-radius: 2.5rem;
      }

      &__bullets-box {
        &--lists {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          li {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            font-size: font-size(font-size-small);

            @include media-medium-small {
              font-size: 1rem;
            }

            @include media-medium-small-extra {
              font-size: font-size(font-size-small);
            }

            i {
              color: var(--color-buttons);
            }
          }
        }
      }
    }
  }
}
