@use "mixins" as *;
@use "variables" as *;

.section-testimonials {
  margin: 9.6rem 0;
}

.section-testimonials__heading--box {
  margin-top: 4.8rem;
  position: relative;
  z-index: 1;

  &--span {
    position: absolute;
    top: -1rem;
    left: 0;
    font-size: 1.8rem;
    font-family: "Julee", cursive;
    color: var(--color-buttons);
  }
  &__heading--primary {
    @include headerSecondary;
  }

  &--img {
    top: -25%;
    left: -10%;
    width: 20%;
    height: auto;
    position: absolute;
    opacity: 0.1;
    z-index: -1;
  }
}

.section-testimonials__content--box {
  &__testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    &--user__logo {
      border: none;
      border-radius: 50%;
      &--img {
        width: 10rem;
        height: 10rem;
      }
    }

    &--user__para--box {
      width: 70%;

      &__user--div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        &--user {
          font-size: font-size(font-size-small);
          color: var(--color-buttons);
        }

        &--date {
          font-size: font-size(font-size-small);
          color: var(--color-buttons);
        }
      }

      &__para {
        color: var(--color-text);
        font-size: font-size(font-size-small);
      }
    }

    &--btn--left,
    &--btn--right {
      position: absolute;
      border: none;
      background-color: var(--color-buttons);
      padding: 1.2rem;
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      color: var(--color-background);
    }

    &--btn--left {
      left: 0;
      top: 50%;
    }

    &--btn--right {
      right: 0;
      top: 50%;
    }
  }
}
