:root {
  font-size: 62.5%;
  line-height: 1.9;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
}

li,
a {
  text-decoration: none;
  list-style-type: none;
}
