html {
  --color-text: #333f72;
  --color-buttons: #af253e;
  --color-background: #f2ede9ff;
}

// html[data-theme="dark"] {
// }

$font-weight: (
  "font-weight-thin": 100,
  "font-weight-light": 300,
  "font-weight-regular": 400,
  "font-weight-medium": 500,
  "font-weight-bold": 700,
  "font-weight-black": 900,
);

@function font-weight($font-weight-style) {
  @return map-get($font-weight, $font-size-style);
}

$font-size: (
  "font-size-small": calc(1rem + 0.5vw),
  "font-size-regular": calc(1.3rem + 1vw),
  "font-size-medium": calc(1.3rem + 2vw),
  "font-size-large": calc(1.3rem + 5vw),
  "font-size-xlarge": calc(2.3rem + 5vw),
);

@function font-size($font-size-style) {
  @return map-get($font-size, $font-size-style);
}

$break-points: (
  "break-point-small": 400px,
  "break-point-medium": 600px,
  "break-point-tablet": 800px,
  "break-point-desktop": 1300px,
);

@function break-point($break-points-limit) {
  @return map-get($break-points, $break-points-limit);
}
