*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  line-height: 1.9;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
}

li,
a {
  text-decoration: none;
  list-style-type: none;
}

html {
  --color-text: #333f72;
  --color-buttons: #af253e;
  --color-background: #f2ede9ff;
  --color-buttons-m: #af253e46;
}

.header {
  height: 100vh;
}

.hero-section__text-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero-section__text-box--heading__box {
  margin-bottom: 5rem;
}
.hero-section__text-box--heading__box--heading-primary {
  font-family: "Julee", cursive;
  font-size: 5.2rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.hero-section__text-box--heading__box--heading-primary--span-two {
  position: absolute;
  width: 100%;
  top: 5rem;
  left: 30%;
  color: var(--color-buttons);
}
.hero-section__text-box--para {
  margin-top: 3rem;
  width: 70%;
  font-size: 1.2rem;
  color: var(--color-text);
  text-align: center;
}
.hero-section__text-box--btn {
  margin-top: 2rem;
  padding: 1.2rem 2.4rem;
  background-color: var(--color-buttons);
  color: var(--color-background);
  border: none;
  border-top-right-radius: 0;
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 2.5rem;
  transition: all 0.3s ease-in-out;
}
.hero-section__text-box--btn:link, .hero-section__text-box--btn:visited {
  background-color: var(--color-buttons);
  color: var(--color-background);
}
.hero-section__text-box--btn:hover, .hero-section__text-box--btn:active {
  border-radius: 2.5rem;
}
.hero-section__text-box--img {
  width: 30%;
  height: auto;
}

.hero-span-img-one,
.hero-span-img-two {
  position: absolute;
  width: 50rem;
  height: 50rem;
  z-index: -1;
  opacity: 0.1;
}

.hero-span-img-one {
  top: 0;
  right: 0;
}

.hero-span-img-two {
  left: 0;
  top: 0;
  transform: rotateY(180deg);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2.4rem;
  position: relative;
}
.navigation__logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation__logo-box--text {
  font-size: 1rem;
  color: var(--color-text);
}
.navigation__logo-box--logo {
  width: 5rem;
  height: 5rem;
}
.navigation__section__links-box--links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: calc(1rem + 0.5vw);
}
.navigation__section__links-box--links__link a {
  position: relative;
}
.navigation__section__links-box--links__link a:link, .navigation__section__links-box--links__link a:visited {
  color: var(--color-text);
  transition: all 0.3s ease-in-out;
}
.navigation__section__links-box--links__link a:hover, .navigation__section__links-box--links__link a:active {
  color: var(--color-buttons);
}
.navigation__section__links-box--links__link a:link::after, .navigation__section__links-box--links__link a:visited::after {
  position: absolute;
  content: "";
  transition: all 0.3s ease-in-out;
}
.navigation__section__links-box--links__link a:hover::after, .navigation__section__links-box--links__link a:active::after {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  background-color: var(--color-buttons);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}
.navigation__section__buttons-box--links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  color: var(--color-text);
  font-size: calc(1rem + 0.5vw);
}
.navigation__section__buttons-box--links--shopping--links__link i:link, .navigation__section__buttons-box--links--shopping--links__link i:visited {
  color: var(--color-text);
  transition: all 0.3s ease-in-out;
}
.navigation__section__buttons-box--links--shopping--links__link i:hover, .navigation__section__buttons-box--links--shopping--links__link i:active {
  color: var(--color-buttons);
}

.navigation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: #d5d2e6;
}

.animated--nav {
  animation: animationNavigation 5s ease-in-out;
  display: none;
}

.navigation--hamburger--active {
  display: none;
}

.navigation--hamburger {
  padding: 1rem;
  z-index: 30;
  position: fixed;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: var(--color-buttons);
}
.navigation--hamburger .line-box {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.navigation--hamburger .line--1 {
  height: 0.2rem;
  width: 100%;
  background-color: var(--color-background);
  transition: all 0.3s ease-in-out;
}
.navigation--hamburger .line--2 {
  height: 0.2rem;
  width: 100%;
  background-color: var(--color-background);
  transition: all 0.3s ease-in-out;
}
.navigation--hamburger .line--3 {
  height: 0.2rem;
  width: 100%;
  background-color: var(--color-background);
  transition: all 0.3s ease-in-out;
}

.navigation--hamburger--box--parent {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  z-index: 5;
}

.navigation--hamburger--box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 50%;
  right: -50%;
  background-color: var(--color-buttons-m);
  z-index: 10;
  animation: animationHamburger 0.1s ease-in-out;
}
.navigation--hamburger--box--links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.navigation--hamburger--box--links__link {
  cursor: pointer;
  color: var(--color-text);
  font-size: calc(1.3rem + 1vw);
}
.navigation--hamburger--box--links__link a {
  position: relative;
}
.navigation--hamburger--box--links__link a:link, .navigation--hamburger--box--links__link a:visited {
  color: var(--color-text);
  transition: all 0.3s ease-in-out;
}
.navigation--hamburger--box--links__link a:hover, .navigation--hamburger--box--links__link a:active {
  color: var(--color-buttons);
}
.navigation--hamburger--box--links__link a:link::after, .navigation--hamburger--box--links__link a:visited::after {
  position: absolute;
  content: "";
  transition: all 0.3s ease-in-out;
}
.navigation--hamburger--box--links__link a:hover::after, .navigation--hamburger--box--links__link a:active::after {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  background-color: var(--color-buttons);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

.line--1--animated {
  transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem);
}

.line--2--animated {
  opacity: 0;
}

.line--3--animated {
  transform: rotateZ(405deg) translate(-0.8rem, -0.6rem);
}

@keyframes animationNavigation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animationHamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section-break {
  padding-top: 9.6rem;
  overflow: hidden;
}
.section-break--kanji--box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  white-space: nowrap;
  animation: infinityScrollKanjiOne 33s linear infinite;
}
.section-break--kanji--box__kanji {
  font-family: "Noto Sans JP", sans-serif;
  display: inline-block;
  font-size: 8rem;
  color: var(--color-text);
  opacity: 0.1;
  margin: 0 5rem;
}

@keyframes infinityScrollKanjiOne {
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
.header-secondary--box {
  position: relative;
  margin-bottom: 4.8rem;
}
.header-secondary--box__header-secondary {
  font-family: "Julee", cursive;
  font-size: 4.4rem;
  color: var(--color-text);
  z-index: 1;
}
.header-secondary--box--span {
  position: absolute;
  top: -1rem;
  left: 0;
  font-size: 1.8rem;
  font-family: "Julee", cursive;
  color: var(--color-buttons);
}
.header-secondary--box--img {
  position: absolute;
  top: -25%;
  left: -10%;
  z-index: -1;
  width: 20%;
  height: auto;
  opacity: 0.1;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.section-shop {
  padding-top: 9.6rem;
}
.section-shop__items--box__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: 3.2rem;
}
.section-shop__items--box__container--box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--color-buttons);
  padding: 2.4rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 2.5rem;
  position: relative;
}
.section-shop__items--box__container--box__name--box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.section-shop__items--box__container--box__name--box--heading {
  font-size: calc(1.3rem + 1vw);
  color: var(--color-text);
  font-weight: 300;
}
.section-shop__items--box__container--box__name--box--para {
  display: flex;
  align-items: center;
  justify-self: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-buttons);
  height: 6rem;
  width: 6rem;
  padding: 1rem;
  border-radius: 50%;
  text-align: center;
  color: var(--color-background);
  font-size: 1.1rem;
  font-weight: 700;
}
.section-shop__items--box__container--box--img {
  width: 100%;
  height: auto;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 2.5rem;
}
.section-shop__items--box__container--box--btn {
  margin-top: 1rem;
  text-align: center;
  padding: 1.2rem 2.4rem;
  background-color: var(--color-buttons);
  color: var(--color-background);
  font-size: calc(1rem + 0.5vw);
  font-weight: 300;
  border: none;
  border-top-right-radius: 0;
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 2.5rem;
  transition: all 0.3s ease-in-out;
}
.section-shop__items--box__container--box--btn:link, .section-shop__items--box__container--box--btn:visited {
  background-color: var(--color-buttons);
  color: var(--color-background);
}
.section-shop__items--box__container--box--btn:hover, .section-shop__items--box__container--box--btn:active {
  border-radius: 2.5rem;
}
.section-shop__items--box__container--box__bullets-box--lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-shop__items--box__container--box__bullets-box--lists li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: calc(1rem + 0.5vw);
}
.section-shop__items--box__container--box__bullets-box--lists li i {
  color: var(--color-buttons);
}

.section-testimonials {
  margin: 9.6rem 0;
}

.section-testimonials__heading--box {
  margin-top: 4.8rem;
  position: relative;
  z-index: 1;
}
.section-testimonials__heading--box--span {
  position: absolute;
  top: -1rem;
  left: 0;
  font-size: 1.8rem;
  font-family: "Julee", cursive;
  color: var(--color-buttons);
}
.section-testimonials__heading--box__heading--primary {
  font-family: "Julee", cursive;
  font-size: 4.4rem;
  color: var(--color-text);
}
.section-testimonials__heading--box--img {
  top: -25%;
  left: -10%;
  width: 20%;
  height: auto;
  position: absolute;
  opacity: 0.1;
  z-index: -1;
}

.section-testimonials__content--box {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
}
.section-testimonials__content--box__testimonial {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  padding: 2rem;
  animation: fadeVisibility 0.5s ease-in-out;
}
.section-testimonials__content--box__testimonial--user__logo {
  border: none;
  border-radius: 50%;
}
.section-testimonials__content--box__testimonial--user__logo--img {
  width: 10rem;
  height: 10rem;
}
.section-testimonials__content--box__testimonial--user__para--box {
  width: 70%;
}
.section-testimonials__content--box__testimonial--user__para--box__user--div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.section-testimonials__content--box__testimonial--user__para--box__user--div--user {
  font-size: calc(1rem + 0.5vw);
  color: var(--color-buttons);
}
.section-testimonials__content--box__testimonial--user__para--box__user--div--date {
  font-size: calc(1rem + 0.5vw);
  color: var(--color-buttons);
}
.section-testimonials__content--box__testimonial--user__para--box__para {
  color: var(--color-text);
  font-size: calc(1rem + 0.5vw);
}
.section-testimonials__content--box--btn--left, .section-testimonials__content--box--btn--right {
  position: absolute;
  cursor: pointer;
  border: none;
  background-color: var(--color-buttons);
  padding: 1.2rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  color: var(--color-background);
}
.section-testimonials__content--box--btn--left {
  left: 0;
  top: 50%;
}
.section-testimonials__content--box--btn--right {
  right: 0;
  top: 50%;
}

.hidden--item {
  display: none;
}

.visible--item {
  display: flex;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section-aboutUs {
  margin-top: 9.6rem;
}

.section-aboutUs__heading--box {
  margin-top: 9.6rem;
  position: relative;
  z-index: 1;
}
.section-aboutUs__heading--box__heading--span {
  position: absolute;
  top: -1rem;
  left: 0;
  font-size: 1.8rem;
  font-family: "Julee", cursive;
  color: var(--color-buttons);
}
.section-aboutUs__heading--box__heading--secondary {
  font-family: "Julee", cursive;
  font-size: 4.4rem;
  color: var(--color-text);
}
.section-aboutUs__heading--box--img {
  top: -25%;
  left: -10%;
  width: 20%;
  height: auto;
  position: absolute;
  opacity: 0.1;
  z-index: -1;
}

.section-aboutUs__content--box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}
.section-aboutUs__content--box--img {
  width: 100%;
  height: auto;
}
.section-aboutUs__content--box__para--box--span {
  font-family: "Julee", cursive;
  color: var(--color-buttons);
  font-size: calc(1.3rem + 5vw);
}
.section-aboutUs__content--box__para--box--para {
  color: var(--color-text);
  font-size: calc(1rem + 0.5vw);
}

.section-register {
  margin-top: 9.6rem;
}
.section-register .section-register__heading--box {
  margin-top: 4.8rem;
  position: relative;
  z-index: 1;
}
.section-register .section-register__heading--box--span {
  position: absolute;
  top: -1rem;
  left: 0;
  font-size: 1.8rem;
  font-family: "Julee", cursive;
  color: var(--color-buttons);
}
.section-register .section-register__heading--box__heading--primary {
  font-family: "Julee", cursive;
  font-size: 4.4rem;
  color: var(--color-text);
}
.section-register .section-register__heading--box--img {
  top: -25%;
  left: -10%;
  width: 20%;
  height: auto;
  position: absolute;
  opacity: 0.1;
  z-index: -1;
}

.section-register__content--box {
  margin-top: 4.4rem;
  height: 60vh;
  background-color: red;
  padding: 1.2rem 2.4rem;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url("../../img/shikorku-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.section-register__content--box--heading--primary {
  color: var(--color-text);
  font-size: calc(1.3rem + 2vw);
  font-family: "Julee", cursive;
}
.section-register__content--box--input--box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
.section-register__content--box--input--box--name {
  width: 50%;
  padding: 1.5rem 3rem;
}
.section-register__content--box--input--box--email {
  width: 50%;
  padding: 1.5rem 3rem;
}
.section-register__content--box--input--box--checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.section-register__content--box--input--box--checkbox--lable {
  font-size: calc(1rem + 0.5vw);
  color: var(--color-text);
}
.section-register__content--box--input--box--checkbox--check {
  font-size: calc(1rem + 0.5vw);
  color: var(--color-text);
  position: relative;
}
.section-register__content--box--input--box--checkbox--check::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 4rem;
  height: 4rem;
}
.section-register__content--box--input--box--btn {
  margin-top: 2rem;
  padding: 1.2rem 2.4rem;
  background-color: var(--color-buttons);
  color: var(--color-background);
  border: none;
  border-top-right-radius: 0;
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 2.5rem;
  transition: all 0.3s ease-in-out;
}
.section-register__content--box--input--box--btn:link, .section-register__content--box--input--box--btn:visited {
  background-color: var(--color-buttons);
  color: var(--color-background);
}
.section-register__content--box--input--box--btn:hover, .section-register__content--box--input--box--btn:active {
  border-radius: 2.5rem;
}

.footer-grid {
  display: grid;
  padding: 1.2rem 0;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  border-top: 1px solid var(--color-text);
  border-bottom: 1px solid var(--color-text);
}
.footer-grid--links-box ul {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}
.footer-grid--links-box ul li a {
  font-size: 1.3rem;
  color: var(--color-text);
}
.footer-grid--img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-grid--img-box--img {
  width: 70%;
  height: auto;
}
.footer-grid--img-box--para--box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-grid--img-box--para--box p {
  color: var(--color-text);
  font-size: 1.3rem;
}
.footer-grid--btn-box a {
  font-size: 1.3rem;
  color: var(--color-text);
}
.footer-grid--btn-box--btn {
  margin-top: 2rem;
  padding: 1.2rem 2.4rem;
  background-color: var(--color-buttons);
  color: var(--color-background);
  border: none;
  border-top-right-radius: 0;
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 2.5rem;
  transition: all 0.3s ease-in-out;
}
.footer-grid--btn-box--btn:link, .footer-grid--btn-box--btn:visited {
  background-color: var(--color-buttons);
  color: var(--color-background);
}
.footer-grid--btn-box--btn:hover, .footer-grid--btn-box--btn:active {
  border-radius: 2.5rem;
}

.section-footer {
  margin: 15rem 0;
}/*# sourceMappingURL=style.css.map */